@import url('https://fonts.googleapis.com/css?family=Dosis:100,200,300,400,500,600,700|San-Serif:100,200,300,400,500,600,700');

body {
   background-color: #0b0b09;
}

/*-- index page --*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
    border: 1px solid white;
}

.index-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
}

/*-- Navigation Bar --*/

a {
    font-family: "Dosis";
    color: white;
    text-align: center;
}

.nav-img {
    display: block;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    width: 100%;
}

.nav-background-image {
    width: 100%;
    padding: 0px;
    height: 50vh;
    background: url('../images/radioweb.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar {
    background-color: transparent;
    padding: 0px;
    margin-top: 0px;
    border: none;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.page-links {
    margin-left: 4%;
    margin-top: 25px;
    width: 15%;
    padding: 0px;
}

.container {
    padding: 0px;
    width: 100%;
}

ul {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.page-links-logo {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 10%;
}


/*-- bio --*/

.bio {
    font-family: "Dosis";
    color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0px;
}


/*-- footer --*/

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.bottom-logo {
    font-family: "Dosis";
    color: white;
    float: right;
}

.side-line {
    border-left: 1px solid white;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    background: #333;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #8c8887;
}